.wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ol {
  margin-inline-start: 16px;
  line-height: 180%;
  margin: 0px 0;
  padding: 0;
  list-style: decimal-leading-zero inside none;
}

ol li {
  margin: 0px;
  padding: 0px;
  text-indent: -2.2em;
  margin-left: 3.4em;
}

.white-text {
  color: #fff;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4 {
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
}

.wrapper img {
  margin-bottom: 0;
}

.wrapper h1 {
  font-weight: 500;
  line-height: 1.4;
  font-size: 24px;
}

.wrapper h2 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 20px;
}

.wrapper h3 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  margin-bottom: 16px;
}

.wrapper h4 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 14px;
  text-transform: none;
  margin: 16px 0;
  letter-spacing: 0;
}

.wrapper hr {
  margin: 24px 0;
  width: calc(100% + 32px);
  margin-left: -16px;
  background: rgba(255, 255, 255, 0.2);
  height: 2px;
}

.wrapper p {
  line-height: 2;
}

.aboveTheFold {
  background: rgb(177, 178, 182);
  background: linear-gradient(
    90deg,
    rgba(177, 178, 182, 1) 0%,
    rgba(232, 233, 231, 1) 47%,
    rgba(232, 233, 231, 1) 77%,
    rgba(197, 198, 205, 1) 100%
  );
}

.bookPresentation {
  margin: 60px 0;
}

@media only screen and (max-width: 480px) {
  .bookPresentation {
    margin: 32px 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 16px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .header {
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }
}

.websiteWrapper {
  flex-grow: 1;
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  position: absolute;
  width: calc(100% - 16px);
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .websiteWrapper {
    position: initial;
    width: initial;
    flex-grow: 0;
  }
}

.websiteWrapper a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.48);
  box-shadow: none;
}

.logoWrapper {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.logoWrapper img {
  width: 42px;
  margin-bottom: 0;
  margin-right: 16px;
}
@media only screen and (max-width: 480px) {
  .logoWrapper {
    font-size: 18px;
    margin-right: 16px;
  }
  .logoWrapper img {
    width: 38px;
  }
}

.bookWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
  overflow: hidden;
  padding: 0 20%;
  padding-bottom: 40px;
}

@media only screen and (max-width: 480px) {
  .bookWrapper {
    padding: 0 32px;
  }
}

.authorJob {
  opacity: 0.6;
}

.textCoverWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookText {
  margin-top: 20px;
  padding-right: 16px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

.bookCover {
  width: 282px;
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .textCoverWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bookText {
    margin-top: 0;
    max-width: initial;
    padding-right: 0;
    flex-direction: column;
    text-align: center;
  }

  .bookCover {
    width: 180px;
    align-self: center;
  }
}

.bookText h1 {
  margin-bottom: 16px;
  color: #333;
}

.button {
  height: 48px;
  border-radius: 2px;
  background-color: #3d3d3b;
  outline: 0;
  border: 0;
  flex-grow: 0;
  margin-top: 32px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.buyButton {
  width: 200px;
  align-self: flex-start;
  margin-top: -48px;
}
@media only screen and (max-width: 480px) {
  .buyButton {
    width: 80%;
    margin: 16px auto;
    margin-top: 48px;
  }
}

.buyButton img {
  width: 20px;
  margin-right: 16px;
}

/* Finish Above the fold */

.sectionTitle {
  margin: 0 20%;
  font-weight: 500;
  font-size: 28px;
  line-height: 137.52%;
  text-align: center;
  color: #ffffff;
}
.sectionTitle.dark {
  color: #40403e;
}
.sectionTitle.alignLeft {
  margin: 0;
}

.alignLeft {
  text-align: left;
}

.section {
  padding: 56px 20%;
}

.section.dark {
  background: #3d3d3b;
}
.section.light {
  background: #f9faf5;
}

.sectionResume {
  font-size: 14px;
  line-height: 137.52%;
  text-align: center;
  color: white;
  margin: 20px 20%;
}
.sectionResume.alignLeft {
  margin: 16px 0;
  text-align: left;
}

.sectionResume.dark {
  color: #40403e;
}

.learnings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.learningText {
  width: 80%;
  color: white;
  text-align: center;
  line-height: 220%;
}

.learningPoint {
  margin-top: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .section {
    padding: 56px 32px;
  }
  .sectionTitle {
    margin: 0 32px;
  }

  .sectionResume {
    margin: 20px 32px;
  }
  .learnings {
    flex-direction: column;
  }

  .learningPoint {
    width: 100%;
  }
}

.learningsCircle {
  border-radius: 50%;
  color: #422c2a;
  width: 100px;
  height: 100px;
  font-weight: 700;
  font-size: 18px;
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

.learningsCircle:hover {
  transform: scale(1.2);
}

.learningsCircle .circle-l3 {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.learningsCircle .circle-l2 {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.learningsCircle .circle-l1 {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.bookSectionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media only screen and (max-width: 480px) {
  .bookSectionWrapper {
    margin-top: 0;
  }
}

.bookSectionTitle {
  position: relative;
  background: rgba(64, 64, 64, 0.2);
  padding: 8px 16px;
}

.bookSectionChapters {
  padding: 8px 16px;
  background: white;
}

.bookSection {
  width: 100%;
  margin-bottom: 40px;
}

.accessContent {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (max-width: 480px) {
  .accessContent {
    margin-top: 0;
  }
}

.reviewCard {
  padding: 20px;
  width: 300px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rating {
  margin-top: 8px;
}

.star {
  width: 14px;
}

.personWrapper {
  display: flex;
  flex-direction: row;
}

.personJob {
  margin-top: 8px;
  font-size: 12px;
}

.personName {
  font-weight: 700;
}

.reviewWrapper {
  margin-top: 8px;
  font-size: 12px;
  height: 45px;
}

.personPhotoWrapper img {
  width: 64px;
  height: 64px;
  padding-right: 16px;
}

.reviewsWrapper {
  width: 100%;
  height: 300px;
  position: relative;
}

.authorPresentation {
  margin: 24px 0;
  line-height: 180%;
}

.job {
  opacity: 0.6;
  font-size: 10px;
}

.relative {
  position: relative;
}

.authorPhoto {
  position: absolute;
  width: 330px;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 480px) {
  .authorPhoto {
    position: relative;
    width: 100%;
    padding-bottom: 32px;
  }
}

.contacts {
  margin-top: 60px;
  color: white;
}

.contacts a {
  margin: 0 8px;
  color: white;
}

.denoImage {
  z-index: 2;
  width: 156px;
  position: absolute;
  right: -64px;
  top: -48px;
}

@media only screen and (max-width: 480px) {
  .denoImage {
    position: relative;
    z-index: 2;
    width: 116px;
    right: initial;
    top: initial;
    padding-bottom: 16px;
  }
}

.contacts a:first-child {
  margin-left: 0;
}

.questions {
  padding-top: 32px;
  font-size: 14px;
  padding-bottom: 32px;
}

.questions a {
  color: #40403e;
}

.copywright {
  padding-top: 64px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  opacity: 0.6;
}
